
/**
  Brand colours
**/
  $granite-gray:      #414E42;
  $dark-puce:         #4E3D42;
  $spanish-gray:      #AFC7CB;
  $pale-silver:       #DED8CF;
  $gainsboro:         #E3DBDB;

/**
  Colours
**/
  $colour-1:          #8CBC42;
  $colour-2:          #3F6C2B;
  $colour-3:          #FCAC39;

/**
  USP colours
**/
  $primary-usp:       #89AEA5;

/**
  Other colours
**/
  $white:             #ffffff;
  $black:             #000000;
  $text-grey:         #3B3B3B;
  $dark-grey:         #606060;
  $medium-grey:       #929292;
  $border-grey:       #E4E4E4;
  $base-grey:         #ECECEC;
  $light-grey:        #F2F2F2;
  $activity-orange:   #FF8B00;
  $standard-green:    #48B04B;
  $standard-red:      #D62D28;
  $po8-pink:          #E500CA;

/**
  Font Variables
**/
  $font-family-primary:               roboto;
  $font-family-primary-type:          ttf;
  $font-family-primary-type-full:     truetype;
  $font-family-secondary:             playfair;
  $font-family-secondary-type:        otf;
  $font-family-secondary-type-full:   opentype;
  $font-family-primary-type-one:      Roboto-Medium;
  $font-family-primary-type-two:      Roboto-Light;
  $font-family-primary-type-three:    RobotoCondensed-Bold;
  $font-family-secondary-type-one:    PlayfairDisplay-Regular;
  $font-family-secondary-type-two:    PlayfairDisplay-Black;
  $font-family-secondary-type-three:  PlayfairDisplay-Bold;

