@import "../variables";

/** Fonts **/
@font-face {
  font-family: $font-family-primary-type-one;
  src: url("../assets/fonts/#{to_lower_case($font-family-primary)}/#{$font-family-primary-type-one}.#{$font-family-primary-type}") format("#{$font-family-primary-type-full}");
}

@font-face {
  font-family: $font-family-primary-type-two;
  src: url("../assets/fonts/#{to_lower_case($font-family-primary)}/#{$font-family-primary-type-two}.#{$font-family-primary-type}") format("#{$font-family-primary-type-full}");
}

@font-face {
  font-family: $font-family-primary-type-three;
  src: url("../assets/fonts/#{to_lower_case($font-family-primary)}/#{$font-family-primary-type-three}.#{$font-family-primary-type}") format("#{$font-family-primary-type-full}");
}

@font-face {
  font-family: $font-family-secondary-type-one;
  src: url("../assets/fonts/#{to_lower_case($font-family-secondary)}/#{$font-family-secondary-type-one}.#{$font-family-secondary-type}") format("#{$font-family-secondary-type-full}");
}

@font-face {
  font-family: $font-family-secondary-type-two;
  src: url("../assets/fonts/#{to_lower_case($font-family-secondary)}/#{$font-family-secondary-type-two}.#{$font-family-secondary-type}") format("#{$font-family-secondary-type-full}");
}

@font-face {
  font-family: $font-family-secondary-type-three;
  src: url("../assets/fonts/#{to_lower_case($font-family-secondary)}/#{$font-family-secondary-type-three}.#{$font-family-secondary-type}") format("#{$font-family-secondary-type-full}");
}
